<%= form_for(@chore) do |f| %>

  <% if @chore.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@chore.errors.count, "error") %> prohibited this chore from being created:
      </h2>
      <ul>
        <% @chore.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </p>

  <p>
    <%= f.label :interval_days %><br>
    <%= f.text_area :interval_days %>
  </p>

  <p>
    <%= f.label :interval_type %><br>
    <%= f.select :interval_type, Chore.interval_types.keys.map {|type| [type.titleize,type]} %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
