<h1>Chores</h1>

<p>== <%= link_to 'Add Chore', new_chore_path %> ==</p>

<table>
  <tr>
    <th>Chore</th>
    <th>Notes</th>
    <th>Interval</th>
    <th>Last Done</th>
    <th>Next Due</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @chores.each do |chore| %>
    <tr class="due">
      <td><%= chore.name %></td>
      <td><%= chore.instructions %></td>
      <td><%= chore.interval_days %></td>
      <td><%= chore.last_done %></td>
      <td><%= chore.next_due %></td>
      <td><%= link_to 'Cycle', reset_cycle_chore_path(chore), method: "patch" %></td>
      <td><%= link_to 'Show', chore_path(chore) %></td>
      <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
    </tr>
  <% end %>
</table>
