<h1>Chores</h1>

<p><%= link_to 'Add Chore', new_chore_path %></p>

<table>
  <tr>
    <th>Chore</th>
    <th>Notes</th>
    <th>Interval</th>
    <th>Type</th>
    <th>Last Done</th>
    <th>Next Due</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @chores.each do |chore| %>
    <tr class="<%= chore.due_class %>">
      <td><%= chore.name %></td>
      <td><%= chore.instructions %></td>
      <td><%= chore.interval_days %></td>
      <td><%= chore.interval_type.titleize %></td>
      <td><%= chore.last_done %></td>
      <td><%= chore.next_due %></td>
      <td><%= link_to 'Cycle', reset_cycle_chore_path(chore), method: "patch" %></td>
      <td><%= link_to 'Show', chore_path(chore) %></td>
      <td><%= link_to 'Edit', edit_chore_path(chore) %></td>
      <td><%= link_to 'Delete', chore_path(chore),
                                method: :delete,
                                data: { confirm: "Do you want to delete the chore \"#{chore.name}\"?" } %></td>
    </tr>
  <% end %>

</table>

<div id="forecast">
<h2>
  <%= @weather['city']['name'] %>
</h2>
<% @weather['list'].each do |day| %>
  <p>
    <!-- The API responded with an icon of '04dd' instead of '04d' -->
    <%= image_tag('http://openweathermap.org/img/w/' + day['weather'][0]['icon'].gsub(/dd/, 'd') + '.png', alt: day['weather'][0]['description']) %>
    <em>Date:</em> <%= Time.at(day['dt']).to_date %> -
    <em>Weather:</em>
    <% day['weather'].each do |weather| %>
      <%= weather['main'] %>
    <% end %>
    -
    <!-- # TODO: convert from Kelvin -->
    <em>High:</em> <%= day['temp']['max'] %> -
    <em>Low:</em> <%= day['temp']['min'] %> -
  </p>
<% end %>
</div>
