<h1>New Chore</h1>

<%= form_for :chore, url: chores_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </p>

  <p>
    <%= f.label :interval_days %><br>
    <%= f.text_area :interval_days %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', chores_path %>
