<p>
  <strong>Chore:</strong>
  <%= @chore.name %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @chore.instructions %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @chore.interval_days %>
</p>

<p>
  <strong>Next due:</strong>
  <%= @chore.next_due %>
</p>

<%= link_to 'Cycle', reset_cycle_chore_path(@chore), method: "patch" %>

<p>
  <strong>Last done:</strong>
  <%= @chore.last_done %>
</p>

<%= link_to 'Back', chores_path %>
